//- Resources Page

.section-header {
    background: $base-color;
    color: white;
    padding: 10px 25px;
    position: relative;
    width: 140%;
    margin-left: -9vw;
    margin-top: 125px;

}

.wp-block-column {



    p {
        font-size: 1rem;
    }

    .wp-block-image {
        display: flex;
        justify-content: center;
    }
}