/*********************
15. FOOTER STYLES
*********************/
footer.footer {
  clear: both;
  margin-top: 0em;
  padding-top: 5rem;
  background-color: $base-color;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #footers-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 4rem;

    @include breakpoint (tablet) {
      flex-wrap: wrap;
    }

    .sidebar-footer {
      display: flex;
      justify-content: center;
      padding: 0 25px;
      flex: 0 1 auto;
      a {
        color: #fff;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

      h4 {
        background-color: #000;
        color: #fff;
        display: inline-block;
        padding: 0.25em 1em;
        font-weight: 400;
        font-family: $base-font, $backup-fonts;
      }
      .widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;

        &.widget_media_image {
          justify-content: center;
        }

        div {
          text-align: left;
        }
        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    #footerLeft {

        @include breakpoint (desktop) {
          margin-left: 15vw;
        }
    }

    #footerCenter {

    }

    #footerRight {

        // margin-right: 200px;

        @include breakpoint (desktop) {
          margin-right: 15vw;
        }
      .widget {
        // this is for the tinyMCE visual editor widget
        .textwidget {
          display:flex;
          align-items: center;
          font-family: $base-font;
          // state image
          p {
            img {
              padding: 20px;
            }
          }
          // list of nearby chapters
          ul {
            li {
              padding: 5px 10px;
              a {
                font-size: 1.2rem;
              }
            }
          }

          @include breakpoint (tablet) {
            flex-direction: column;
          }


        }

      }


    }



  }



  div.footer-lastline {
    display: flex;
    justify-content: center;
    align-items: baseline;

    .source-org.copyright {
        margin-left: 100px;
    }
  }

}
